.profile-body {
  background: url("../../images/Topo-Map.png") center center repeat;
  height: 80vh;
  width: 95vw;
}
.profile-pic {
  font-family: sans-serif;
  background-color: #d6d3d1;
  height: 70vh;
  width: 20%;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 25px;
}
.tree-container {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(8, 10, 1, 0.064);
  height: 60vh;
  width: 75%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  overflow: scroll;
  border-radius: 25px;
}

.about {
  font-family: sans-serif;
  text-align: center;
  color: black;
  background-color: #d6d3d1;
  height: 10vh;
  width: 75%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  overflow: scroll;
  border-radius: 25px;
}
.profile-pic-header {
  height: 55%;
}

.profile-pic-box {
  height: 70%;
}
.profile-pic-button {
  height: 30%;
  background-color: #d6d3d1;
}

.profile-pic-body {
  height: 35%;
  padding: 10%;
}
.profile-pic-footer {
  height: 10%;
  padding: 1%;
}
