.profile-body {
  background: url("../../images/Topo-Map.png") center center repeat;
  height: 80vh;
  width: 95vw;
}
.profile-pic {
  font-family: sans-serif;
  background-color: rgb(197, 240, 197);
  height: 70vh;
  width: 25%;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 25px;
}
.tree-container {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(8, 10, 1, 0.064);
  height: 60vh;
  width: 70%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  overflow: scroll;
  border-radius: 25px;
}

.about {
  font-family: sans-serif;
  text-align: center;
  color: black;
  background-color: rgb(197, 240, 197);
  height: 10vh;
  width: 70%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  overflow: scroll;
  border-radius: 25px;
}
